@model IEnumerable<AspMvcClient.Models.OrderModel>


<div id="searchresults">
    @if (Model != null)
    {
        <h3>Все заказы удовлетворяющие условиям:</h3>
        <ul>
        @foreach (var item in Model)
        { 
            <li>@item.OrderDate</li>
            <li>@item.ManagerName</li>
            <li>@item.ClientName</li>
            <li>@item.ProductName</li>
            <li>@item.Cost</li>
        }
        </ul>
    }
</div>