@using System.Activities.Expressions
@model IEnumerable<AspMvcClient.Models.OrderModel>

@if (Model.Any())
{
    <table id="results" class="simple-little-table">
        <tr>
            <th>
                Date
            </th>
            <th>
                Product
            </th>
            <th>
                Cost
            </th>
            <th>
                Client
            </th>
            <th>
                Manager
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ManagerName)
                </td>
            </tr>
        }
   
    </table>
}
else
{
  <p>Not data faund</p>
}